.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondary-color);
    border: 1px solid var(--midway-color);
    border-radius: var(--sm);

    color: var(--text-white);
    font-size: var(--font-text);

    cursor: pointer;

    padding: var(--sm) var(--md);
    gap: var(--sm);

    height: 3rem;
}

.dropbtn i {
    display: flex;
    align-items: center;
    color: var(--text-white);
}

.dropdown-content {
    background-color: var(--secondary-color);
    border: 1px solid var(--midway-color);
    border-radius: var(--sm);
    
    padding: var(--xs);

    position: absolute;
    top: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: var(--sm);
    width: 100%;
} 

.text-dropdown-content {
    padding: var(--md) 0px;
}

.hidden {
    display: none;
}