.login_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: var(--xl);
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: var(--md);
    width: 100%;
    max-width: 24rem;
    padding: var(--md);
    background-color: var(--secondary-color);
    border: 1px solid var(--midway-color);
    border-radius: var(--md);
    color: var(--text-white);
    font-size: var(--font-text);
}

.register_text {
    display: flex;
    justify-content: center;
    color: var(--text-light-gray);
    gap: var(--sm);
}

.register_link {
    color: var(--bright-purple-button-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.register_link:hover {
    color: var(--bright-purple-button-hover);
}