.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.fi {
    display: flex;
    align-items: center;
    justify-content: center;
}