.card {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.border {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.shadow {
  box-shadow: var(--box-shadow);
}

.hoverable:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}
