.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    width: 4rem;
    height: 100vh;
    gap: var(--md);
    padding: var(--md) var(--md);
    box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.5);
    grid-area: "sidebar";

    transition: width 0.5s ease;
}

.sidebar * {
    display: none;
}

.logo {
    display: none;
    font-size: var(--font-title);
    width: 100%;
}

.logo_small {
    display: flex;
    font-size: var(--font-title);
}

.sidebar:hover {
    width: 15rem;
}

.sidebar:hover * {
    display: flex;
    width: 100%;
}

.sidebar:hover .logo_small {
    display: none;
}

.sidebar:hover .logo {
    display: flex;
    justify-content: center;
}

.conversations {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--sm);
}

.conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--font-text);
    padding: var(--sm);
    text-wrap: nowrap;
}

.new {
    color: var(--text-secondary);
    justify-content: center;
    align-items: center;
    font-size: var(--font-text);
    padding: var(--sm);
    text-wrap: nowrap;
}